/* Container for the list of issues */
.issue__container {
  max-width: 1280px;
  background-color: #f6f8fa;
  margin: auto;
  border: 1px solid;
  color: black;
  border: 1px solid #d0d7de;
  border-radius: 6px;
}
.issue__details {
  display: flex;
  border-top: 1px solid #afb8c1;
}

.title__container {
  display: flex;
  align-items: center;
  font-size: 16px;
}
/* Issue Header */
.issue__header {
  display: flex;
  align-items: center;
  padding: 16px 0;
  font-weight: bold;
}
/* style a tag */
.title__container a {
  text-decoration: none;
}
/* Issue Title */
.issue__title {
  color: #24292f;
  font-size: 16px;
  font-weight: 600;
}

/* Issue Meta */
.issue__data {
  font-size: 18px;
  color: #586069;
}

/* Issue Author */
.issue__author a {
  color: #586069;
  text-decoration: none;
  margin-right: 10px;
}

/* issue status */
.issue__status {
  padding: 2px 4px;
  border-radius: 8px;
  margin-left: 10px;
  padding: 0 0.6em;
}
/* issue page svg  */
.issue__svg {
  font-size: 20px;
  color: #28a745;
  margin: 12px;
}
/* Issue number */
.issue__number {
  margin-right: 10px;
  font-size: 18px;
  font-weight: bold;
  color: #555;
}
/* issue comment */
.comment__container {
  /* margin-top: 7px; */
  font-weight: bold;
  color: #555;
  margin: 3px 0;
}
